//// NAVBAR \\\\
*a {
  color: white;
}

*a:hover {
  color: #D87D4A !important;
  transition: 300ms;
}

.navbar div {
  padding-left: 5%;
  padding-right: 5%;
}

.navbarLinks {
  color: white;
}

.navbarLinksL:hover {
  color: #D87D4A;
  transition: 0.5s;
}



.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 50vh;
  right: 0%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  font-weight: 600;
  padding: 32px 33px;
  background: #FFFFFF;
  border-radius: 8px;
  font-size: 60%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content img {
  width: 40%;
  float: left;
  margin-right: 2%;
  border-radius: 8px;
}

.remove {
  position: absolute;
  left: 50%;
  font-size: 80%;
  opacity: 0.5;
  font-weight: 300;
  text-decoration: underline;
  cursor: pointer;
}

.remove:hover {
  transition: 300ms;
  color: #D87D4A;
}

.navbarCount p {
  width: 50%;
  margin: 0 auto;
  background-color: #F1F1F1;
  text-align: center;
  padding: 2%;
  display: flex;
  justify-content: space-around;
}

.navbarCount span {
  width: 20%;
  cursor: pointer;
  font-size: 150%;
}

.navbarCount span:hover {
  color: #D87D4A;
  transition: 0.5s;
}

.total h6::before {
  content: 'TOTAL';
  position: absolute;
  left: 0;
  opacity: 0.5;
}

.total h6 {
  text-align: right;
  position: relative;
}

.total button {
  width: 100%;
  padding: 15px 40px;
  background-color: #D87D4A;
  border: none;
  color: white;
  font-size: 120%;
  font-weight: 500;
}

.total button:hover {
  transition: 0.5s;
  background-color: #FBAF85;
}

@media only screen and (max-width: 990px) {
  .dropdown-content {
    width: auto;
    left: 0%;
    width: 250px;
    font-size: 100%;
  }
}


//// HOME \\\\
.myCarousel {
  background-color: #0E0E0E;
  padding: 5%;
  height: 100vh;
  margin-bottom: 5%;
}

.myCarousel .row {
  width: 80%;
  margin: 0 auto;
  color: white;
}





.myCarousel .row .col-md-6:nth-child(1) {
  padding-top: 5%;
}

.myCarousel .row h5 {
  color: gray;
  font-size: 150%;
}


.myCarousel .row img {
  width: 100%;
}

@media only screen and (max-width: 880px) {

  .myCarousel .row .col-md-6:nth-child(2) {
    text-align: center;
  }

  .myCarousel .row h1 {
    font-size: 150%;
  }

  .myCarousel .row img {
    width: 70%;
    margin-bottom: 10%;
  }

}


.menu .row {
  padding: 5%;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.menu .row .col-md-4 .card {
  border: none;
  padding-bottom: 2%;
  background-color: #F1F1F1
}

.card h6:hover {
  transition: 0.5s;
  color: #D87D4A;
  cursor: pointer;
}



.rec .row {
  width: 100%;
}


.zx9 {
  padding-top: 5%;
  padding-left: 3%;
  background-image: url(images/home/bg.png);
  background-color: #D87D4A;
  background-repeat: no-repeat;
  color: white;
}

.zx9 .seeProduct {
  background-color: black;
  color: white;
  padding: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  transition: 0.5s;
}

.zx9 .seeProduct:hover {
  background-color: #4C4C4C;
}

.zx7Text {
  width: 100%;
  background-image: url(images/home/speakerZX7.png);
  padding: 7%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.zx7 img {
  z-index: -5;
}

.seeProduct {
  background-color: #F1F1F1;
  transition: 0.5s;
}

.seeProduct:hover {
  background-color: black;
  color: white;
}


.earphone .col-md-6:nth-child(2) {
  background-color: #F1F4F1;
  border-radius: 5px;
  padding-left: 5%;
  padding-top: 5%;
}

.bringing {
  margin-top: 10%;
}

.bringing .row .col-md-6:nth-child(1) {
  padding-top: 10%;
  font-size: 120%;
}

.bringing .row .col-md-6:nth-child(1) h1 {
  text-transform: uppercase;
  font-size: 300%;
  margin-bottom: 2%;
}

.bringing .row .col-md-6:nth-child(2) img {
  width: 100%;
}

////// CATEGoRY \\\\

.category {
  background-color: black;
  color: white;
  text-align: center;
  padding: 2%;
  text-transform: uppercase;
  margin-bottom: 3%;
}

.categoryRow {
  width: 90%;
  margin: 0 auto;
}

.categoryRow h1 {
  padding-top: 5%;
}

.categoryRow .col-md-6 img {
  width: 90%;
}

.seeAndAddToCard {
  padding: 8px 35px;
  border: none;
  background-color: #D87D4A;
  color: white;
  transition: 300ms;
}

.seeAndAddToCard:hover {
  background-color: #FBAF85;
}

////// checkout \\\\

.checkoutH5{
  margin-top: 5%;
  margin-bottom: 3%;
  color: #D87D4A;
}


/////// FOOTER \\\\\\\

.footer {
  margin-top: 100vw;
  width: 100%;
  background-color: black;
  margin-top: 5%;
  padding: 5%;
  color: #636363;
}

.footer .row {
  width: 80%;
  margin: 0 auto;
}

.icons {
  width: 100%;
  text-align: end;
  padding-top: 20%;
}

.icon {
  font-size: 200%;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.icon:hover {
  color: #D87D4A;
}