.myCarousel {
  background-color: #0E0E0E;
  padding: 5%;
  height: 100vh;
  margin-bottom: 5%;
}

.myCarousel .row {
  width: 80%;
  margin: 0 auto;
  color: white;
}

.myCarousel .row button {
  border-radius: 4px;
  color: white;
  background: #D87D4A;
  padding: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.myCarousel .row .col-md-6:nth-child(1) {
  padding-top: 5%;
}

.myCarousel .row h5 {
  color: gray;
  font-size: 150%;
}

.myCarousel .row h1 {
  font-size: 350%;
}

.myCarousel .row img {
  width: 100%;
}



.menu .row {
  padding: 5%;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.menu .row .col-md-4 .card {
  border: none;
  padding-bottom: 2%;
  background-color: #F1F1F1
}




.rec .row {
  width: 100%;
}


.zx9 {
  padding-top: 5%;
  padding-left: 3%;
  background-image: url(images/home/bg.png);
  background-color: #D87D4A;
  background-repeat: no-repeat;
  color: white;
}

.zx9 .seeProduct {
  background-color: black;
  color: white;
  // border-radius: 5px;
  padding: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.zx9 .seeProduct:hover {
  background-color: #4C4C4C;
  transition: 0.5s;
}

.zx7Text {
  width: 100%;
  background-image: url(images/home/speakerZX7.png);
  padding: 7%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.zx7 img {
  z-index: -5;
}

.seeProduct {
  background-color: #F1F1F1;
}

.seeProduct:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}


.earphone .col-md-6:nth-child(2) {
  background-color: #F1F4F1;
  border-radius: 5px;
  padding-left: 5%;
  padding-top: 5%;
}

.bringing{
  margin-top: 10%;
}
.bringing .row .col-md-6:nth-child(1) {
  padding-top: 10%;
  font-size: 120%;
}

.bringing .row .col-md-6:nth-child(1) h1 {
  text-transform: uppercase;
  font-size: 300%;
  margin-bottom: 2%;
}
.bringing .row .col-md-6:nth-child(2) img{
  width: 100%;
}



/////// FOOTER \\\\\\\



.footer {
  width: 100%;
  background-color: black;
  margin-top: 5%;
  padding: 5%;
  color: #636363;
}

.footer .row {
  width: 80%;
  margin: 0 auto;
}

.icons {
  width: 100%;
  text-align: end;
  padding-top: 20%;
}

.icon {
  font-size: 200%;
  color: white;
}